#root{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-family: Inter,Avenir,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --background: #080808;
    --white: #f8f8f8;
    --blue: #6492c7;
    --purple: #5e3ad8;
    --magenta: #ff1e7a;
    --red: #f5382b;
    --orange: #FF5337;
    --border: 1.6px solid #3a3a3a;
    --primary: #1d1e1f;
    --width: min(calc(100vw - 20px), 500px + 40vw);
    --shadow: #64646f33 ;
    --shadow-small: #64646f33;
    --shadow-faint:  #00000052;
    --gradient: conic-gradient(from 230.29deg at center,var(--blue) 0deg, var(--purple) 67.5deg, var(--magenta) 198.75deg,var(--red) 251.25deg,var(--orange) 301.88deg, var(--blue) 330deg);
    --distance-to-the-moon: 384400;
    --header-height: 64px;
    --width-thin:280px;
    --width-phone: 320px;
    --width-tablet: 788px;
    --width-desktop: 3000px;
  }
.section {
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    margin-top: 20px;
    
  }
  .icon-corner{
    font-size: 2rem;
    position: absolute;
    right:2%;
    bottom: 2%;
    transition: transform 0.5s ease;
  }
  .title-icon:hover{
    transform: scale(1.2);
  }
  .title-section {
    position: relative;
    flex-grow: 1; /* var(--white) Allow this section to grow and take up remaining space */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--white);
    height: 100vh;
    min-width: 100vw;
    border-style: none;
    border-color: var(--red);
    padding: 10px;
  }
  .transition{
    position: absolute;
    bottom: -15px;
    left: 45vw;
    text-decoration: none;
    color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center; 
    text-align: center;
    height: 40px;
    border-style: solid;
    border-color: var(--shadow);
    border-width: 3px;
    border-radius: 15px;
    width: 190px;
    
  }
  .tran-text{
    color: var(--white);
    font-size: normal;
    margin-left: 5px;
  }
  .scroll-text{
    color: var(--blue);
    font-size: large;
    font-weight: 500;
  }
  .t-divider{
    margin: 0 10px;
    
    width: 0.1px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--shadow);
    border-radius: 2px;
    height: 30px;
    background-color: var(--shadow) !important;
  }
  .transition:hover{
    border-style: solid;
    border-color: var(--blue);
  }
  #intro-text{
    left: 50%;
    top: 50%;
  }
 .title-container{
    border-style: none;
    border-color: var(--blue);
    border-width: 5px;
 }
 #subheader{
    text-align: center;
    
 }
 .dots{
  position: absolute;
  z-index: 0;
  top: -47vh;
  left: -37vw;
  width: 20vw;
  
  list-style: none;
  animation: breathe 10s infinite ease both;
}

.dot{
  position: absolute;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border-radius: 20px;
  box-shadow: inset 0px 0px 5px rgb(100, 230, 255),
              0px 0px 2px rgba(255, 255, 255, 0.5),
              0px 0px 10px rgb(0, 191, 243);
  background: rgb(0, 191, 243);
  opacity: 0.60;
  animation-name: clockwise;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.dot:nth-child(even){ 
  animation-direction: reverse;
}

.dot:nth-child(3n+3){
  animation-duration: 40s; 
  opacity: 0.80;
}

.dot:nth-child(4n+4){ 
  animation-duration: 30s; 
  opacity: 0.40;
}

@for $item from 1 through 40{
  li:nth-child(#{$item}){ 
    animation-delay: -#{$item}s; 
  }
} 

@keyframes breathe{
  0%  { transform: scale(0.75); }
  50% { transform: scale(1.25); }
  100%{ transform: scale(0.75); }
}

@keyframes clockwise{
  0% { 
        transform: rotate(0deg) 
                   translate(-100px)
                   rotate(0deg); 
  }
  
  100% { 
        transform: rotate(360deg) 
                   translate(-100px) 
                   rotate(-360deg); 
  }
}